shamefully-hoist=true
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=bufferutil
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=keccak
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=utf-8-validate
